.delete-button {
    font-family: 'Open Sans', sans-serif;
    background-color: #FF4646;
    padding: 15px 32px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: none;
}

.delete-button:hover {
    background-color: #e01d1d;
    color: #F9F9F9;
}