.secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    min-width: 140px;
    height: auto;
    padding: 15px 32px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important;
    white-space: nowrap;
    color: #2563eb !important;
    background-color: white !important;
    border-radius: 10px !important;
    cursor: pointer;
    border: none;
}

.secondary-button:hover {
    color: #0029ae !important;
}