.nav-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.nav-container img {
    width: 15%;
    height: auto;
}

.custom-menubar {
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.p-menubar .p-menuitem-link {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px;
}

.p-menubar .p-menuitem-text {
    color: #2563eb;
    font-weight: bold;
}

.p-menubar .p-menuitem-icon {
    color: #2563eb;
    margin-right: 25px;
    font-size: 22px;
}

@media (max-width: 1200px) {
    .nav-container img {
        width: 25%;
        margin-left: -50px;
    }

    .p-menubar-root-list {
        position: absolute !important;  
        top: 105% !important;  /* Fica logo abaixo do botão de menu */
        left: -230% !important;  
        transform: translateX(-50%) !important;  /* Centraliza horizontalmente */
        width: 90vw !important;  
        max-width: 320px !important;  
        background-color: white !important;  
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;  
        border-radius: 8px !important;  
        z-index: 1000 !important;
    }

    .p-menubar .p-menuitem-link {
        justify-content: center !important;
        padding: 15px !important;
    }

    .p-menubar .p-menuitem-icon {
        font-size: 24px !important;  
        margin-right: 10px !important;  
    }
}

@media (max-width: 768px) {
    .nav-container img {
        width: 40%;
        margin-left: -50px;
    }
}

@media (max-width: 468px) {

    .nav-container img {
        width: 60%; 
        margin-left: -50px;
    }
}
