.email-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
  }
  
  .email-container label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #0B53B8;
    font-weight: 600;
  }
  
  .email-container input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #A9A9A9;
    color: #717171;
    border-radius: 10px;
    outline: none;
  }

.email-container input.error {
    border-color: #FF4646; 
  }
  
  .email-container .error-message {
    color: #FF4646; 
    font-size: 12px;
    margin-top: 5px;
  }