.email-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.email-container input {
  width: 100%;
  padding: 1.5vh;
  font-size: 1.8vh;
  border: 0.1vh solid #A9A9A9;
  border-radius: 1.5vh;
  background-color: #EEEEEE;
  outline: none;
}

.email-container input::placeholder {
  font-size: 2vh; 
  color: #A9A9A9;
}

.email-container input.error {
  border-color: #FF4646;
}
.email-container input.error::placeholder {
  opacity: 0; 
}

.email-container .error-message {
  color: #FF4646; 
  font-size: 1.8vh;
  margin-top: 0.7vh;
  text-align: left;
}
