.section-reservas-editar {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.titulos-reservas-editar,
.item-reserva-editar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.titulos-reservas-editar {
    font-weight: bold;
    color: #0B53B8;
    padding-left: 10rem;
    padding-right: 10rem;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.titulos-reservas-editar::after {
    content: '';
    display: block;
    width: 80%;
    height: 2.5px;
    background-color: #e2e8f0;
    position: absolute;
    bottom: -5px;
    left: 10%;
}

.lista-reservas-editar {
    padding-left: 10rem;
    padding-right: 10rem;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
}

.item-reserva-editar {
    border-bottom: 1px solid #e2e8f0;
    box-sizing: border-box;
}

.item-reserva-editar:last-child {
    border-bottom: none;
}

.button-editar {
    justify-self: flex-start;
    border: 2px solid red;
}

@media (max-width: 1024px) {

    .titulos-reservas-editar,
    .lista-reservas-editar {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 768px) {

    .titulos-reservas-editar,
    .lista-reservas-editar {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .titulos-reservas-editar,
    .item-reserva-editar {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .item-reserva-editar {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}

@media (max-width: 480px) {

    .titulos-reservas-editar,
    .lista-reservas-editar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .titulos-reservas-editar,
    .item-reserva-editar {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .item-reserva-editar {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}