.aluno-home {
    text-align: center;
    padding: 2rem;
}

.aluno-home h1 {
    color: #646cff;
    margin-bottom: 1rem;
}

.aluno-home button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #646cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.aluno-home button:hover {
    background-color: #535bf2;
}