.confirm-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
}

.confirm-email-container h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.confirm-email-container p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}