* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    display: flex;
    width: 50%;
    text-align: center;
    background-color: #0B53B8;
    justify-content: center;
}

.left-section-elements {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section-elements p {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #F9F9F9;
    padding: 70px 0px;
}

.team-image {
    width: 70%;
}

.login {
    width: 50%;
    background-color: #F9F9F9;
    display: flex;
    text-align: center;
    justify-content: center;
}

.right-section-elements {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.right-section-elements h1 {
    color: #0B53B8;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.right-section-elements p {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #0B53B8;
    margin-top: -20px;
    /* 45px de gap - 20px de margin = 25px de gap igual prototipação */
}

.right-section-elements p:first-of-type {
    margin-top: 45px;
    /* Mantém o primeiro <p> com 45px de distância do form */
}

.right-section-elements form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section {
        display: none;
    }

    .login {
        width: 100%;
        min-height: 100vh;
        padding: 1.5rem;
    }

    .right-section-elements {
        gap: 2rem;
    }

    .right-section-elements h1 {
        font-size: 2rem;
    }

    .right-section-elements form {
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .left-section-elements {
        width: 90%;
    }

    .left-section-elements p {
        padding: 2rem 0;
        font-size: 1rem;
    }

    .team-image {
        max-width: 300px;
    }

    .right-section-elements h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .right-section-elements {
        gap: 1.5rem;
    }

    .right-section-elements h1 {
        font-size: 2.5rem;
        padding-bottom: 20px;
    }

    .right-section-elements p {
        font-size: 1.1rem;
        padding-top: 20px;
    }
}