.senha .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.75rem;
}

.senha .form-container {
  display: flex;
  justify-items: center;
  max-width: 100%;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

.senha .password-group {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 100%;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  gap: 1.75rem;
  margin-bottom: 1rem;
}

.senha .password-group label {
    color: #0b53b8;
    font-size: 20px;
    font-weight: 500;
  }

.senha .form-container label {
  color: #0b53b8;
  font-size: 20px;
  font-weight: 500;
}

.senha .form-group {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 1rem;
}

.senha .button {
  width: 320px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 20px;
}

.senha a {
  color: #0b53b8;
  font-weight: 600;
}

@media (max-width: 1080px) {
  .senha .form-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .senha .form-wrapper {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .senha .form-container {
    grid-template-columns: 1fr;
  }

  .senha .cadastro-page .button {
    gap: 20px;
  }
}
