.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .icon ion-icon {
    font-size: 30px;
    color: #0B53B8;
  }
  