.password-container {
  width: 15vw;
  height: 4vh;
  display: flex;
  padding: 0 0.625rem;
  justify-content: space-between;
  background-color: #eeeeee;
  border: 1px solid #d1d1d1;
  border-radius: 0.625rem;
  overflow: hidden;
}

.password-input {
  width: 100%;
  font-size: 1rem;
  font-family: "Open Sans", serif;
  color: #717171;
  background-color: #eeeeee;
  border: none;
  outline: none;
}

.toggle-button {
  display: flex;
  align-self: center;
  color: #6b7280;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
