.password-container {
  width: 100%;
  display: flex;
  padding: 1.5vh;
  justify-content: space-between;
  background-color: #eeeeee;
  border: 1px solid #d1d1d1;
  border-radius: 0.625rem;
  overflow: hidden;
}

.password-input {
  font-size: 1rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #717171;
  background-color: #eeeeee;
  border: none;
  outline: none;
}

.toggle-button {
  display: flex;
  align-self: center;
  color: #717171;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .toggle-button {
    margin-right: 0.5rem;
  }
}

@media (max-width: 480px) {
  .toggle-button {
    margin-right: 0.25rem;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
